<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Hola mundo con Vue.js</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="componentes/padre.js"></script>
        <script src="componentes/hijo.js"></script>
    </head>

    <body>
        
        <div id="app" class="container">
            <h1>{{titulo}}</h1>
            <padre></padre>
            <input type="text" v-model="nuevoCorredor" v-on:keyup.enter="agregarCorredor">
            <button class="btn btn-primary" v-on:click="agregarCorredor">Agregar</button>
            <ul>
                <li v-for="obj of corredores">
                    <input type="number" v-model.number="obj.edad">
                    {{obj.nombre}}
                    <button class="mt-1 btn btn-info" v-on:click="obj.edad++">+</button>
                    <span v-if="obj.edad<=40"> - Todo Competidor</span>
                </li>
            </ul>
            <h4>Total : {{sumarEdades}}</h4>
            
            <script src="01.js"></script>
        </div>
    

    </body>
</html>